/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
atlassian*
/nbproject
/sitemap
/.idea
/.gitattributes
/.github

/app/code/Magento
/app/design/*/Magento
/app/etc
!/app/etc/config.php
/app/i18n/magento
/app/*.*

!/app/code/Magento

/bin

/dev

/generated/

/lib

/phpserver

/pub/*
!/pub/errors
!/pub/errors/shiba
!/pub/errors/local.xml
!/pub/errors/processor.php
!/pub/wp
/pub/wp/.htaccess
/pub/wp/wp-config.php
/pub/wp/wp-content/uploads/*
/setup

/var

/vendor

/node_modules
/.grunt

/*.*

!/auth.json
!/composer.json
!/composer.patches.json
!/composer.lock
!/README.md
!/.gitignore

.DS_Store
/build.properties.local
/build.xml
/n98
